
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/shared/_Layout1.cshtml";
}

     <div class="loader loader-default is-active" data-text="Loading.."></div>
     <div class="row">
         <div class="left-side">
             <div class="text">

                 <span class="t2">T2</span> is a creative organization that focuses on research and development as its core concerns. Such concerns enable us to help clients improve and enhance their business performance among major business areas and provide support to maximize technological ROI across the whole enterprise.

             </div>
         </div>
         <form class="offset-6 col-sm-6 col-lg-6" style="padding: 3% 10%;">
             <div class="user-img">
                 <span><i class="fas fa-user-circle"></i></span>
             </div>
             <h2>User Login</h2>


             <div class="row">
                 <div class="col-md-12">
                     <div class="form-group input-group mb-3">
                         <div class="input-group-prepend">
                             <span class="input-group-text  bg-app"><i class="fa fa-envelope"></i></span>
                         </div>
                         <input type="text" class="form-control input-app" placeholder="E-mail" aria-label="Mail" aria-describedby="basic-addon1">
                     </div>
                 </div>
             </div>


             <div class="row">
                 <div class="col-md-12">
                     <div class="form-group input-group mb-3">
                         <div class="input-group-prepend">
                             <span class="input-group-text  bg-app"><i class="far fa-eye"></i></span>
                         </div>
                         <input type="password" class="form-control input-app psw" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
                     </div>
                 </div>
             </div>


             <div class="row">
                 <div class="col-md-12 pb-2 mminus">
                     <span class="forget float-left" onclick="forget()"><a>Forget Password</a></span>

                     <div class="n"><span class="forget float-right activate" onclick="activate()"><a>Activate Account</a></span></div>

                 </div>
             </div>
             <button type="button" class="btn flat-btn" onclick="location.href = '/DashBoard/DashBoard'">Login</button>



         </form>

     </div>

@section head{
   @Scripts.Render("~/bundles/login")
}